.constantTemp:hover {
    stroke-width: 1;
    pointer-events: all;
}

.ticks {
    font-size: 10px;
    font-family: sans-serif;
    background: white;
}

.state-label {
    display: inline-block;
    width: 15em;
}

#vizcontainer {

}

.states {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
